Repository mlflow/mlflow, pull requests merged in 2020-07, with the labels that each got.

#2959 Fix incorrect usage of nested `PropTypes`
  mlflow/server/js/src/common/components/tables/EditableFormTable.js
  mlflow/server/js/src/experiment-tracking/components/BreadcrumbTitle.js
  mlflow/server/js/src/experiment-tracking/components/CompareRunContour.js
  mlflow/server/js/src/experiment-tracking/components/CompareRunContour.test.js
  mlflow/server/js/src/experiment-tracking/components/CompareRunPage.js
  mlflow/server/js/src/experiment-tracking/components/CompareRunScatter.js
  mlflow/server/js/src/experiment-tracking/components/CompareRunView.js
  mlflow/server/js/src/experiment-tracking/components/CompareRunView.test.js
  mlflow/server/js/src/experiment-tracking/components/ExperimentRunsTableCompactView.js
  mlflow/server/js/src/experiment-tracking/components/ExperimentRunsTableMultiColumnView2.js
  mlflow/server/js/src/experiment-tracking/components/ExperimentView.js
  mlflow/server/js/src/experiment-tracking/components/MetricPage.js
  mlflow/server/js/src/experiment-tracking/components/MetricView.js
  mlflow/server/js/src/experiment-tracking/components/MetricsPlotControls.js
  mlflow/server/js/src/experiment-tracking/components/MetricsPlotPanel.js
  mlflow/server/js/src/experiment-tracking/components/MetricsPlotView.js
  mlflow/server/js/src/experiment-tracking/components/ParallelCoordinatesPlotControls.js
  mlflow/server/js/src/experiment-tracking/components/ParallelCoordinatesPlotPanel.js
  mlflow/server/js/src/experiment-tracking/components/ParallelCoordinatesPlotView.js
  mlflow/server/js/src/experiment-tracking/components/RunPage.js
  mlflow/server/js/src/experiment-tracking/components/modals/CreateExperimentModal.js
  mlflow/server/js/src/experiment-tracking/components/modals/DeleteRunModal.js
  mlflow/server/js/src/experiment-tracking/components/modals/RenameExperimentModal.js
  mlflow/server/js/src/experiment-tracking/components/modals/RestoreRunModal.js
  mlflow/server/js/src/model-registry/components/CompareModelVersionsView.js
  mlflow/server/js/src/model-registry/components/CompareModelVersionsView.test.js
  mlflow/server/js/src/model-registry/components/ModelListPage.js
Labels: area/build, area/uiux, needs review

#3000 [docs] Fetching a MLflow model from the registry
  docs/source/model-registry.rst
Labels: area/docs, rn/documentation

#2875 Fix duplicate parameters in XGBoost and LightGBM flavor examples
  examples/lightgbm/MLproject
  examples/lightgbm/README.md
  examples/xgboost/MLproject
  examples/xgboost/README.md
Labels: area/examples

#3041 Add syntax highlighting to the artifact text viewer
  mlflow/server/js/package-lock.json
  mlflow/server/js/package.json
  mlflow/server/js/src/common/utils/FileUtils.js
  mlflow/server/js/src/common/utils/FileUtils.test.js
  mlflow/server/js/src/experiment-tracking/components/artifact-view-components/ShowArtifactTextView.js
  mlflow/server/js/src/experiment-tracking/components/artifact-view-components/ShowArtifactTextView.test.js
Labels: LGTM, rn/feature

#3019 Update MLflow docs footer to mention Linux Foundation
  docs/source/conf.py
Labels: rn/none

#3051 Fix incorrect parameter names for `test_mlflow_run_example`
  tests/examples/test_examples.py
Labels: rn/none

#3059 Add documentation about signing work
  CONTRIBUTING.rst
Labels: area/docs

#3033 [Model Registry Tags] Proto file and entity objects updates, table migrations
  mlflow/entities/model_registry/__init__.py
  mlflow/entities/model_registry/model_version.py
  mlflow/entities/model_registry/model_version_tag.py
  mlflow/entities/model_registry/registered_model.py
  mlflow/entities/model_registry/registered_model_tag.py
  mlflow/java/client/src/main/java/org/mlflow/api/proto/ModelRegistry.java
  mlflow/protos/model_registry.proto
  mlflow/protos/model_registry_pb2.py
  mlflow/store/db_migrations/versions/27a6a02d2cf1_add_model_version_tags_table.py
  mlflow/store/db_migrations/versions/728d730b5ebd_add_registered_model_tags_table.py
  mlflow/store/model_registry/dbmodels/models.py
  tests/entities/model_registry/test_model_version.py
  tests/entities/model_registry/test_registered_model.py
  tests/resources/db/latest_schema.sql
  tests/store/dump_schema.py
  tests/store/tracking/test_sqlalchemy_store_schema.py
Labels: area/model-registry

#3073 Fix bug with renaming registered model with sqlite as backend store
  mlflow/store/db/utils.py
  mlflow/store/model_registry/sqlalchemy_store.py
  mlflow/store/tracking/sqlalchemy_store.py
  tests/store/model_registry/test_sqlalchemy_store.py
Labels: area/model-registry

#3072 Add set_registry_uri, get_registry_uri
  mlflow/__init__.py
  mlflow/tracking/__init__.py
  mlflow/tracking/_model_registry/registry.py
  mlflow/tracking/_model_registry/utils.py
  mlflow/tracking/_tracking_service/registry.py
  mlflow/tracking/_tracking_service/utils.py
  mlflow/tracking/client.py
  tests/tracking/_model_registry/test_model_registry_fluent.py
  tests/tracking/_model_registry/test_utils.py
  tests/tracking/_tracking_service/test_utils.py
  tests/tracking/test_client.py
Labels: area/model-registry, rn/feature

#3083 Add prepare-commit-msg hook to prevent commits without sign-off
  CONTRIBUTING.rst
  hooks/prepare-commit-msg
Labels: area/build, rn/none

#3078 Use pre-installed miniconda on GitHub Actions
  .github/workflows/master.yml
  travis/install-common-deps.sh
Labels: area/build, rn/none

#3070 Add GitHub Action to automate labeling on issues and pull requests
  .github/workflows/labeling.yml
  README.rst
Labels: area/build, rn/none

#3080 Migrate the windows test to GitHub Actions
  .github/workflows/master.yml
  .travis.yml
  tests/models/test_cli.py
  travis/stage-python3.sh
Labels: area/build, area/windows, rn/none

#3049 De-hardcode MLmodel file names
  mlflow/azureml/__init__.py
  mlflow/fastai.py
  mlflow/gluon.py
  mlflow/h2o.py
  mlflow/keras.py
  mlflow/lightgbm.py
  mlflow/mleap.py
  mlflow/models/cli.py
  mlflow/models/container/__init__.py
  mlflow/models/model.py
  mlflow/onnx.py
  mlflow/pyfunc/__init__.py
  mlflow/pyfunc/model.py
  mlflow/pytorch/__init__.py
  mlflow/sagemaker/__init__.py
  mlflow/server/handlers.py
  mlflow/sklearn.py
  mlflow/spacy.py
  mlflow/spark.py
  mlflow/tensorflow.py
  mlflow/utils/model_utils.py
  mlflow/xgboost.py
Labels: area/models

#3061 Add support for boolean flags for arguments
  mlflow/cli.py
  mlflow/projects/__init__.py
Labels: area/docker, area/docs

#3074 [Model Registry Tags] Backend store implementation and tests
  mlflow/server/handlers.py
  mlflow/store/model_registry/abstract_store.py
  mlflow/store/model_registry/rest_store.py
  mlflow/store/model_registry/sqlalchemy_store.py
  mlflow/utils/validation.py
  tests/server/test_handlers.py
  tests/store/model_registry/test_rest_store.py
  tests/store/model_registry/test_sqlalchemy_store.py
Labels: area/model-registry

#3060 Update documentation with actual output and file contents
  docs/source/quickstart.rst
Labels: area/docs

#3014 Fix Azure Blob Artifact Repo not returning single files
  mlflow/store/artifact/azure_blob_artifact_repo.py
  tests/store/artifact/test_azure_blob_artifact_repo.py
Labels: area/artifacts, area/uiux, integrations/azure, needs committer feedback, rn/bug-fix

#3066 Added mlflow charter to the contribution.rst
  CONTRIBUTING.rst
  mlflow-charter.pdf
Labels: area/docs

#3092 Fix Cron Job Failure by Removing MLflow requirement from example conda.yaml
  examples/flower_classifier/README.rst
  examples/flower_classifier/conda.yaml
  examples/h2o/conda.yaml
  examples/hyperparam/README.rst
  examples/hyperparam/conda.yaml
  examples/lightgbm/README.md
  examples/lightgbm/conda.yaml
  examples/multistep_workflow/README.rst
  examples/multistep_workflow/conda.yaml
  examples/prophet/conda.yaml
  examples/pytorch/conda.yaml
  examples/sklearn_elasticnet_diabetes/README.md
  examples/sklearn_elasticnet_diabetes/linux/conda.yaml
  examples/sklearn_elasticnet_diabetes/osx/conda.yaml
  examples/sklearn_elasticnet_wine/conda.yaml
  examples/sklearn_logistic_regression/conda.yaml
  examples/spacy/conda.yaml
  examples/tensorflow/tf1/README.md
  examples/tensorflow/tf1/conda.yaml
  examples/tensorflow/tf2/README.md
  examples/tensorflow/tf2/conda.yaml
  examples/xgboost/README.md
  examples/xgboost/conda.yaml
Labels: area/examples

#3076 Add support for `archive_existing_versions`
  mlflow/store/model_registry/sqlalchemy_store.py
  tests/store/model_registry/test_sqlalchemy_store.py
Labels: area/model-registry, area/sqlalchemy, rn/feature

#3082 [Multi-Workspace Registry] allow specifying hostcreds with Databricks utility
  mlflow/projects/__init__.py
  mlflow/projects/databricks.py
  mlflow/store/artifact/databricks_artifact_repo.py
  mlflow/tracking/_model_registry/utils.py
  mlflow/tracking/_tracking_service/utils.py
  mlflow/utils/databricks_utils.py
  mlflow/utils/uri.py
  tests/projects/test_databricks.py
  tests/utils/test_databricks_utils.py
  tests/utils/test_uri.py
Labels: area/model-registry, area/tracking, rn/none

#3096 Use dev version of MLflow when running example tests
  examples/hyperparam/MLproject
  examples/hyperparam/train.py
  tests/examples/test_examples.py
  travis/stage-python3.sh
Labels: area/examples, rn/none

#3094 [Model Registry Tags] Python client implementation and tests
  mlflow/store/model_registry/abstract_store.py
  mlflow/store/model_registry/rest_store.py
  mlflow/store/model_registry/sqlalchemy_store.py
  mlflow/tracking/_model_registry/client.py
  mlflow/tracking/client.py
  tests/tracking/_model_registry/test_model_registry_client.py
  tests/tracking/test_model_registry.py
Labels: area/model-registry, rn/none

#3095 Add `archive_existing_versions` to model registry client
  mlflow/store/model_registry/abstract_store.py
  mlflow/store/model_registry/rest_store.py
  mlflow/store/model_registry/sqlalchemy_store.py
  mlflow/tracking/_model_registry/client.py
  mlflow/tracking/client.py
  tests/tracking/test_client.py
Labels: area/model-registry, rn/feature

#3036 aws ecr get-login is deprecated since v1. Using get-login-password instead, issue 3013
  mlflow/sagemaker/__init__.py
Labels: integrations/sagemaker, rn/bug-fix

#3103 Migrate the example and docker tests to GitHub Actions
  .github/workflows/examples.yml
  Dockerfile
  README.rst
  mlflow/server/js/package.json
  travis/stage-python3.sh
Labels: area/build, rn/none

#3089 Remove useless set-up-python steps in the GitHub Actions config
  .github/workflows/master.yml
Labels: area/build, rn/none

#3102 Migrate the conda compatibility tests to GitHub Actions
  .github/workflows/master.yml
  travis/stage-python3.sh
Labels: area/build, rn/none

#3112 Remove Travis CI
  .travis.yml
  README.rst
  mlflow/R/mlflow/README.Rmd
  travis/install-common-deps.sh
  travis/stage-python3.sh
Labels: area/build, rn/none

#3128 [Multi-Workspace Registry] server-side changes for adding runlink to model version
  mlflow/entities/model_registry/model_version.py
  mlflow/java/client/src/main/java/org/mlflow/api/proto/ModelRegistry.java
  mlflow/protos/model_registry.proto
  mlflow/protos/model_registry_pb2.py
  mlflow/server/handlers.py
  mlflow/store/db_migrations/versions/84291f40a231_add_run_link_to_model_version.py
  mlflow/store/model_registry/abstract_store.py
  mlflow/store/model_registry/dbmodels/models.py
  mlflow/store/model_registry/rest_store.py
  mlflow/store/model_registry/sqlalchemy_store.py
  tests/entities/model_registry/test_model_version.py
  tests/resources/db/latest_schema.sql
  tests/server/test_handlers.py
  tests/store/model_registry/test_rest_store.py
  tests/store/model_registry/test_sqlalchemy_store.py
Labels: area/model-registry, area/sqlalchemy, rn/feature

#3129 Fix prop types for `creation_timestamp` and `last_updated_timestamp`
  mlflow/server/js/src/model-registry/components/ModelView.js
  mlflow/server/js/src/model-registry/test-utils.js
Labels: area/model-registry, area/uiux, rn/none

#3121 Remove f-strings because we still support Python 3.5
  mlflow/store/model_registry/sqlalchemy_store.py
  mlflow/utils/search_utils.py
  tests/deployments/test_cli.py
  tests/fastai/test_fastai_autolog.py
  tests/resources/mlflow-test-plugin/mlflow_test_plugin/fake_deployment_plugin.py
  tests/store/model_registry/test_sqlalchemy_store.py
  tests/test_no_f_strings.py
  tests/tracking/test_model_registry.py
Labels: area/build, rn/none

#3134 Update UI to support `archive-existing-versions` feature
  mlflow/server/js/src/experiment-tracking/components/artifact-view-components/ShowArtifactPdfView.css
  mlflow/server/js/src/model-registry/actions.js
  mlflow/server/js/src/model-registry/components/DirectTransitionForm.css
  mlflow/server/js/src/model-registry/components/DirectTransitionForm.js
  mlflow/server/js/src/model-registry/components/DirectTransitionForm.test.js
  mlflow/server/js/src/model-registry/components/ModelStageTransitionDropdown.js
  mlflow/server/js/src/model-registry/components/ModelStageTransitionDropdown.test.js
  mlflow/server/js/src/model-registry/components/ModelVersionPage.js
Labels: area/model-registry, area/uiux, rn/feature

#3140 fix link
  docs/source/tracking.rst
Labels: area/docs, rn/none

#2960 Make Jest throw error on invalid prop type warning
  mlflow/server/js/package.json
  mlflow/server/js/scripts/throw-on-prop-type-warning.js
Labels: area/build, area/uiux, needs review, rn/none

#3130 Fix a bug for `_enforce_type` in pandas >= 1.0
  mlflow/pyfunc/__init__.py
  travis/large-requirements.txt
  travis/small-requirements.txt
Labels: area/models, rn/bug-fix

#3141 Adds new label descriptions
  .github/pull_request_template.md
  ISSUE_TRIAGE.rst
Labels: area/docs, rn/none

#3118 Fix order by parsing when name contains a space
  mlflow/utils/search_utils.py
  tests/utils/test_search_utils.py
Labels: area/tracking, rn/bug-fix

#3124 Introduce project Backend for local execution
  mlflow/projects/__init__.py
  mlflow/projects/backend/loader.py
  mlflow/projects/backend/local.py
  mlflow/projects/databricks.py
  mlflow/projects/docker.py
  mlflow/projects/utils.py
  mlflow/pyfunc/backend.py
  mlflow/utils/conda.py
  tests/projects/backend/__init__.py
  tests/projects/backend/test_local.py
  tests/projects/test_docker_projects.py
  tests/projects/test_projects.py
Labels: area/projects, rn/none

#3020 [docs] Link and text does not correlate in tutorials-and-examples
  docs/source/tutorials-and-examples/index.rst
Labels: area/docs, rn/none

#3146 [docs] fix information hierarchy in model registry workflow page
  docs/source/model-registry.rst
Labels: area/docs, rn/none

#3164 [Multi-Workspace Registry] add client changes for populating registry lineage through run-link
  mlflow/tracking/_model_registry/client.py
  mlflow/tracking/client.py
  mlflow/utils/databricks_utils.py
  mlflow/utils/uri.py
  tests/tracking/_model_registry/test_model_registry_client.py
  tests/tracking/test_client.py
  tests/utils/test_databricks_utils.py
  tests/utils/test_uri.py
Labels: area/model-registry, area/tracking, rn/feature

#3142 Introduce CircleCI to preview documentation in pull requests
  .circleci/config.yml
Labels: area/build, rn/none

#3158 Added fastai autolog examle for FR-3126
  examples/README.md
  examples/fastai/MLproject
  examples/fastai/README.md
  examples/fastai/conda.yaml
  examples/fastai/train.py
  tests/examples/test_examples.py
Labels: area/examples, rn/documentation

#3166 Enable `prefer-destructuring` rule for ESLint to force destructuring assignment
  mlflow/server/js/.eslintrc.js
  mlflow/server/js/src/common/utils/ActionUtils.js
  mlflow/server/js/src/experiment-tracking/components/ArtifactView.js
  mlflow/server/js/src/experiment-tracking/components/CompareRunView.js
  mlflow/server/js/src/experiment-tracking/components/ExperimentPage.test.js
  mlflow/server/js/src/experiment-tracking/components/ExperimentViewUtil.js
  mlflow/server/js/src/experiment-tracking/components/ParallelCoordinatesPlotView.js
  mlflow/server/js/src/experiment-tracking/components/RunPage.js
  mlflow/server/js/src/experiment-tracking/components/RunView.js
  mlflow/server/js/src/experiment-tracking/components/artifact-view-components/ShowArtifactMapView.js
  mlflow/server/js/src/experiment-tracking/reducers/MetricReducer.js
  mlflow/server/js/src/experiment-tracking/reducers/Reducers.js
  mlflow/server/js/src/model-registry/components/CompareModelVersionsPage.js
  mlflow/server/js/src/model-registry/components/CompareModelVersionsView.js
  mlflow/server/js/src/model-registry/components/ModelVersionView.js
  mlflow/server/js/src/model-registry/components/SchemaTable.js
Labels: area/build, area/uiux, rn/none

#3178 Fix runs table to resize with browser resize
  mlflow/server/js/src/experiment-tracking/components/ExperimentRunsTableMultiColumnView2.js
Labels: area/uiux, rn/none

#3172 [Issue #3170] PDF viewer doesn't render PDFs in MLflow 1.10
  mlflow/server/js/src/experiment-tracking/components/artifact-view-components/ShowArtifactPdfView.js
Labels: area/tracking, area/uiux, rn/bug-fix

#3180 Add new label descriptions to issue templates
  .github/ISSUE_TEMPLATE/bug_report_template.md
  .github/ISSUE_TEMPLATE/feature_request_template.md
Labels: rn/none

#3187 [UI] Add run-link and model-registry-tags features
  mlflow/server/js/src/common/components/EditableTagsTableView.js
  mlflow/server/js/src/common/components/EditableTagsTableView.test.js
  mlflow/server/js/src/common/components/tables/EditableFormTable.css
  mlflow/server/js/src/common/components/tables/EditableFormTable.js
  mlflow/server/js/src/common/sdk/ModelBuilder.js
  mlflow/server/js/src/common/sdk/RecordUtils.js
  mlflow/server/js/src/experiment-tracking/components/ArtifactPage.test.js
  mlflow/server/js/src/experiment-tracking/components/ArtifactView.test.js
  mlflow/server/js/src/experiment-tracking/components/RunView.js
  mlflow/server/js/src/experiment-tracking/components/RunView.test.js
  mlflow/server/js/src/experiment-tracking/sdk/MlflowMessages.js
  mlflow/server/js/src/model-registry/actions.js
  mlflow/server/js/src/model-registry/components/ModelListView.test.js
  mlflow/server/js/src/model-registry/components/ModelPage.test.js
  mlflow/server/js/src/model-registry/components/ModelVersionPage.js
  mlflow/server/js/src/model-registry/components/ModelVersionPage.test.js
  mlflow/server/js/src/model-registry/components/ModelVersionTable.test.js
  mlflow/server/js/src/model-registry/components/ModelVersionView.js
  mlflow/server/js/src/model-registry/components/ModelVersionView.test.js
  mlflow/server/js/src/model-registry/components/ModelView.js
  mlflow/server/js/src/model-registry/components/ModelView.test.js
  mlflow/server/js/src/model-registry/reducers.js
  mlflow/server/js/src/model-registry/reducers.test.js
  mlflow/server/js/src/model-registry/sdk/ModelRegistryMessages.js
  mlflow/server/js/src/model-registry/services.js
  mlflow/server/js/src/model-registry/test-utils.js
Labels: area/uiux, rn/feature

#3200 [Model Version Schema] Add model-versions/get-artifact API
  mlflow/server/__init__.py
  mlflow/server/handlers.py
  mlflow/server/js/src/setupProxy.js
Labels: area/model-registry, rn/none
