Repository mlflow/mlflow, pull requests merged in 2020-06, with the labels that each got.

#2852 [Tests] Avoid installing python deps during js tests
  .github/workflows/master.yml
Labels: area/build, area/uiux, needs review

#2874 Allow a different tracking URI in kubernetes job
  docs/source/projects.rst
  mlflow/projects/kubernetes.py
Labels: area/projects

#2911 Adding DatabricksArtifactRepository to the MLflow client.
  generate-protos.sh
  mlflow/java/client/src/main/java/com/databricks/api/proto/mlflow/DatabricksArtifacts.java
  mlflow/java/client/src/main/java/org/mlflow/api/proto/Service.java
  mlflow/protos/databricks_artifacts.proto
  mlflow/protos/databricks_artifacts_pb2.py
  mlflow/protos/service.proto
  mlflow/protos/service_pb2.py
  mlflow/store/artifact/artifact_repo.py
  mlflow/store/artifact/databricks_artifact_repo.py
  mlflow/store/artifact/dbfs_artifact_repo.py
  mlflow/utils/databricks_utils.py
  mlflow/utils/file_utils.py
  mlflow/utils/uri.py
  setup.py
  tests/store/artifact/test_databricks_artifact_repo.py
  tests/store/artifact/test_dbfs_artifact_repo_delegation.py
  tests/utils/test_uri.py
Labels: area/artifacts, area/tracking

#2946 Remove deprecated fields on client APIs
  mlflow/server/handlers.py
  mlflow/tracking/client.py
  tests/tracking/_model_registry/test_model_registry_client.py
  tests/tracking/test_client.py
  tests/tracking/test_model_registry.py
Labels: area/model-registry, rn/breaking-change, rn/documentation

#2873 Augmented the docs for keras and tensorflow autologging
  docs/source/tracking.rst
  mlflow/keras.py
  mlflow/tensorflow.py
Labels: area/docs

#2951 Search Registered Models API
  mlflow/java/client/src/main/java/org/mlflow/api/proto/ModelRegistry.java
  mlflow/protos/model_registry.proto
  mlflow/protos/model_registry_pb2.py
  mlflow/server/handlers.py
  mlflow/store/model_registry/abstract_store.py
  mlflow/store/model_registry/rest_store.py
  mlflow/store/model_registry/sqlalchemy_store.py
  tests/server/test_handlers.py
  tests/store/model_registry/test_rest_store.py
  tests/store/model_registry/test_sqlalchemy_store.py
Labels: area/model-registry, rn/feature

#2939 [Search RM Pagination] switch listRegisteredModels to be paginated
  mlflow/java/client/src/main/java/org/mlflow/api/proto/ModelRegistry.java
  mlflow/protos/model_registry.proto
  mlflow/protos/model_registry_pb2.py
  mlflow/server/handlers.py
  mlflow/store/model_registry/abstract_store.py
  mlflow/store/model_registry/rest_store.py
  mlflow/store/model_registry/sqlalchemy_store.py
  mlflow/tracking/_model_registry/client.py
  mlflow/tracking/client.py
  tests/server/test_handlers.py
  tests/store/model_registry/test_rest_store.py
  tests/store/model_registry/test_sqlalchemy_store.py
  tests/tracking/_model_registry/test_model_registry_client.py
  tests/tracking/test_model_registry.py
Labels: area/model-registry, rn/breaking-change, rn/feature

#2966 Adding client API for searching registered models
  mlflow/store/model_registry/abstract_store.py
  mlflow/store/model_registry/rest_store.py
  mlflow/store/model_registry/sqlalchemy_store.py
  mlflow/tracking/_model_registry/client.py
  mlflow/tracking/client.py
  tests/tracking/_model_registry/test_model_registry_client.py
  tests/tracking/test_model_registry.py
Labels: area/model-registry, rn/feature

#2985 Try to fix CRAN check error
  docs/build-rdoc.sh
  docs/source/R-api.rst
  mlflow/R/mlflow/DESCRIPTION
  mlflow/R/mlflow/man/reexports.Rd
Labels: LGTM

#2949 Fix react-plotly import statements
  mlflow/server/js/src/experiment-tracking/components/CompareRunContour.js
  mlflow/server/js/src/experiment-tracking/components/CompareRunScatter.js
  mlflow/server/js/src/experiment-tracking/components/MetricsPlotView.js
  mlflow/server/js/src/experiment-tracking/components/MetricsPlotView.test.js
  mlflow/server/js/src/experiment-tracking/components/ParallelCoordinatesPlotView.js
Labels: area/uiux, needs review

#2982 Fix a typo (`LIST_REGISTRED_MODELS` -> `LIST_REGISTERED_MODELS`)
  mlflow/server/js/src/model-registry/actions.js
  mlflow/server/js/src/model-registry/reducers.js
  mlflow/server/js/src/model-registry/reducers.test.js
Labels: area/model-registry, area/uiux, needs review

#2981 Fix docstring for `clinet.list_registered_models`
  mlflow/tracking/client.py
Labels: area/docs, area/model-registry, needs review

#2969 Fix model version description update in UI
  mlflow/server/js/src/model-registry/components/ModelVersionPage.js
  mlflow/server/js/src/model-registry/components/ModelVersionPage.test.js
Labels: area/model-registry, area/uiux, needs review

#3001 Java CliBasedArtifactRepository: Propagate Databricks host credentials
  mlflow/java/client/src/main/java/org/mlflow/artifacts/CliBasedArtifactRepository.java
  mlflow/java/client/src/main/java/org/mlflow/tracking/creds/DatabricksConfigHostCredsProvider.java
  mlflow/java/client/src/main/java/org/mlflow/tracking/creds/DatabricksDynamicHostCredsProvider.java
  mlflow/java/client/src/main/java/org/mlflow/tracking/creds/DatabricksHostCredsProvider.java
  mlflow/java/client/src/main/java/org/mlflow/tracking/creds/DatabricksMlflowHostCreds.java
  mlflow/java/client/src/test/java/org/mlflow/artifacts/CliBasedArtifactRepositoryTest.java
Labels: rn/bug-fix

#3023 [pagination] followups to clean up search registered models
  mlflow/utils/search_utils.py
  tests/store/model_registry/test_sqlalchemy_store.py
  tests/utils/test_search_utils.py
Labels: rn/breaking-change, rn/feature

#3027 [pagination] update listRM proto to have correct max_results value
  mlflow/java/client/src/main/java/org/mlflow/api/proto/ModelRegistry.java
  mlflow/protos/model_registry.proto
  mlflow/protos/model_registry_pb2.py
  mlflow/store/model_registry/sqlalchemy_store.py
Labels: rn/feature
