Repository mlflow/mlflow, pull requests merged in 2022-10, with the labels that each got.

#6940 Add conf option to configure result type for the Predict step spark UDF
  mlflow/pipelines/steps/predict.py
Labels: rn/none, area/pipelines

#6927 SSE-CPK support added to MLflow
  mlflow/azure/client.py
  mlflow/java/client/src/main/java/com/databricks/api/proto/mlflow/DatabricksArtifacts.java
  mlflow/protos/databricks_artifacts.proto
  mlflow/protos/databricks_artifacts_pb2.py
  mlflow/store/artifact/databricks_artifact_repo.py
  mlflow/store/artifact/databricks_models_artifact_repo.py
  mlflow/utils/file_utils.py
  mlflow/utils/rest_utils.py
  tests/store/artifact/test_databricks_artifact_repo.py
  tests/store/artifact/test_databricks_models_artifact_repo.py
Labels: rn/none, area/artifacts

#6956 Made enhancements to autolog the html representation of the estimators
  mlflow/sklearn/utils.py
  mlflow/tracking/client.py
  tests/sklearn/test_sklearn_autolog.py
Labels: rn/none, area/models, area/tracking

#6950 Add additional information about bug reports
  .github/ISSUE_TEMPLATE/bug_report_template.yaml
  ISSUE_POLICY.md
Labels: area/docs, rn/documentation

#6936 Limiting the number of string values for a categorical dtype for profiling
  mlflow/pipelines/cards/pandas_renderer.py
Labels: rn/none, area/pipelines

#6912 Clear PySpark gateway environment variables for OSS SparkML flavor dependency inference
  mlflow/environment_variables.py
  mlflow/utils/_capture_modules.py
  mlflow/utils/requirements_utils.py
Labels: rn/bug-fix, area/models

#6933 Add a dropdown for selecting doc versions
  docs/theme/mlflow/static/js/custom.js
Labels: area/docs, rn/none

#6968 Fix code path resolution on Spark model loading
  mlflow/spark.py
  tests/spark/test_spark_model_export.py
Labels: rn/bug-fix, area/models

#6907 Fixing boolean columns type for profile rendering
  mlflow/pipelines/cards/pandas_renderer.py
  tests/pipelines/cards/test_pandas_renderer.py
Labels: rn/bug-fix, area/pipelines

#6973 Fix cross version tests (don't validate version path for sagemaker docker tests)
  tests/helper_functions.py
Labels: rn/none, area/scoring, enable-dev-tests, only-latest

#6974 Recognize mlflow-skinny as base requirement in environment
  mlflow/utils/environment.py
  tests/utils/test_environment.py
Labels: rn/bug-fix, area/models

#6960 Fix preview-docs workflow
  .github/workflows/preview-docs.yml
  dev/preview_docs.py
Labels: rn/none, area/build

#6952 Modified run_info to add searchable attributes decorator and made a test
  mlflow/entities/run_info.py
  mlflow/store/tracking/dbmodels/models.py
  tests/entities/test_run_info.py
  tests/store/tracking/test_file_store.py
  tests/store/tracking/test_sqlalchemy_store.py
  tests/utils/test_search_utils.py
Labels: rn/feature

#6978 Reduce `Jinja` dependency version to `>= 2.11` (for non-windows operating systems)
  requirements/core-requirements.txt
  requirements/core-requirements.yaml
Labels: rn/none, area/build

#6945 Support `run_id IN` and `run ID NOT IN` for `search_runs`
  docs/source/search-runs.rst
  mlflow/utils/search_utils.py
  tests/store/tracking/test_file_store.py
  tests/store/tracking/test_sqlalchemy_store.py
Labels: rn/feature, area/tracking

#6971 Add support for run_name synchronization when setting run name tag
  mlflow/store/tracking/file_store.py
  mlflow/store/tracking/sqlalchemy_store.py
  tests/store/tracking/test_file_store.py
  tests/store/tracking/test_sqlalchemy_store.py
Labels: rn/feature, area/tracking

#6948 README update for MLflow-skinny additional dependencies
  README.rst
  README_SKINNY.rst
  docs/source/quickstart.rst
Labels: area/docs, rn/documentation

#6920 Adding model registry URI and tracking to predict step
  mlflow/pipelines/steps/predict.py
  mlflow/pyfunc/__init__.py
  mlflow/utils/_spark_utils.py
  tests/pipelines/helper_functions.py
  tests/pipelines/test_predict_step.py
  tests/pipelines/test_register_step.py
Labels: rn/none

#6976 Use `pull_request_target` in preview-docs workflow to use secrets
  .github/workflows/preview-docs.yml
  dev/preview_docs.py
Labels: rn/none, area/build

#6980 Add display of search filter identifiers on mouse-over of column header in the runs table
  mlflow/server/js/src/common/components/ag-grid/RunsTableCustomHeader.js
Labels: rn/none, area/uiux

#6917 Use databricks dbutils getReplLocalTempDir / getReplNFSTempDir API if possible
  mlflow/utils/file_utils.py
Labels: rn/none, area/scoring

#6967 run-time validation for steps
  mlflow/pipelines/step.py
  mlflow/pipelines/steps/evaluate.py
  mlflow/pipelines/steps/ingest/__init__.py
  mlflow/pipelines/steps/predict.py
  mlflow/pipelines/steps/register.py
  mlflow/pipelines/steps/split.py
  mlflow/pipelines/steps/train.py
  mlflow/pipelines/steps/transform.py
  pylintrc
  tests/pipelines/helper_functions.py
  tests/pipelines/test_evaluate_step.py
  tests/pipelines/test_ingest_step.py
  tests/pipelines/test_predict_step.py
  tests/pipelines/test_register_step.py
  tests/pipelines/test_split_step.py
  tests/pipelines/test_train_step.py
  tests/pipelines/test_transform_step.py
Labels: rn/none, area/pipelines

#6989 jinja ignore commented lines
  mlflow/utils/file_utils.py
Labels: rn/none, area/pipelines

#6982 Clarify MLflow Pipelines classification capability
  docs/source/pipelines.rst
Labels: area/docs, rn/none

#6990 only print if there are cached steps
  mlflow/pipelines/utils/execution.py
Labels: rn/none, area/pipelines

#6991 Added data profile tab comparing worst examples vs train dataset
  mlflow/pipelines/steps/train.py
Labels: rn/none, area/pipelines

#6996 Remove circleci integration test
  .circleci/config.yml
Labels: rn/none, area/pipelines

#6998 fix MLP register error message
  mlflow/pipelines/steps/register.py
  tests/pipelines/test_register_step.py
Labels: rn/none, area/pipelines

#6944 Make MLflow Projects support running a prebuilt Docker image
  docs/source/projects.rst
  mlflow/cli.py
  mlflow/projects/__init__.py
  mlflow/projects/backend/abstract_backend.py
  mlflow/projects/backend/local.py
  mlflow/projects/docker.py
  mlflow/projects/utils.py
  tests/projects/test_docker_projects.py
  tests/resources/mlflow-test-plugin/mlflow_test_plugin/dummy_backend.py
Labels: rn/none, area/projects

#6993 Remove useless `super().__init__`
  mlflow/pipelines/steps/ingest/__init__.py
  mlflow/pipelines/steps/predict.py
  mlflow/pipelines/steps/split.py
Labels: rn/none, area/pipelines

#7004 Revert "Remove mlflow-pipelines circle CI job"
  .circleci/config.yml
Labels: rn/none, area/build

#6979 Support searching and sorting experiments by `creation_time` and `last_update_time`
  docs/source/search-experiments.rst
  mlflow/store/tracking/abstract_store.py
  mlflow/store/tracking/file_store.py
  mlflow/store/tracking/sqlalchemy_store.py
  mlflow/tracking/_tracking_service/client.py
  mlflow/tracking/client.py
  mlflow/tracking/fluent.py
  mlflow/utils/search_utils.py
  tests/store/tracking/test_file_store.py
  tests/store/tracking/test_sqlalchemy_store.py
  tests/tracking/test_rest_tracking.py
Labels: rn/feature, area/tracking, area/build

#6928 load and run post_split_filter_method
  mlflow/pipelines/steps/split.py
Labels: rn/breaking-change, area/pipelines

#6918 Test `mlflow sagemaker build-and-push-container` command using pytest
  dev/run-python-sagemaker-tests.sh
  tests/sagemaker/test_cli.py
Labels: rn/none

#6977 Extended `mlflow gc` to support removing deleted experiments
  mlflow/cli.py
  mlflow/store/tracking/file_store.py
  mlflow/store/tracking/sqlalchemy_store.py
  tests/test_cli.py
Labels: rn/feature, area/tracking

#6921 Enable overwrites for delta output formats in MLP predict step
  mlflow/pipelines/steps/predict.py
  tests/pipelines/test_predict_step.py
Labels: rn/none, area/pipelines

#6999 Speedup split step
  mlflow/pipelines/steps/split.py
  tests/pipelines/test_split_step.py
Labels: rn/none, area/pipelines

#7020 Log best_parameters under train folder
  mlflow/pipelines/steps/train.py
Labels: rn/none, area/pipelines

#7021 create _MULTI_PROCESS_POOL_SIZE constant
  mlflow/pipelines/steps/split.py
Labels: rn/none, area/pipelines

#7010 Adding support for UC tables in ingest step
  mlflow/pipelines/steps/ingest/datasets.py
  tests/pipelines/test_ingest_step.py
Labels: rn/none, area/pipelines

#7001 Do not notify user in UI on failed artifact fetch
  mlflow/server/js/src/common/utils/ArtifactUtils.js
Labels: rn/bug-fix, area/uiux

#7022 Update default Keras serialization format
  docs/source/models.rst
Labels: area/docs, rn/documentation

#6954 Add table height as 500
  mlflow/pipelines/cards/__init__.py
Labels: rn/none, area/pipelines

#7027 Fix `SqlAlchemyStore` updating incorrect tag
  mlflow/store/tracking/sqlalchemy_store.py
  tests/store/tracking/test_sqlalchemy_store.py
Labels: rn/bug-fix, area/sqlalchemy

#7025 version lock transformers
  tests/keras/test_keras_model_export.py
Labels: rn/none, area/models

#6946 Update MLflow artifact viewer to show correct recommendation when loa…
  mlflow/server/js/src/experiment-tracking/components/artifact-view-components/ShowArtifactLoggedModelView.js
  mlflow/server/js/src/i18n/default/en.json
Labels: rn/none, area/uiux

#7012 Improve pipelines docs
  docs/source/pipelines.rst
  mlflow/pipelines/__init__.py
Labels: area/docs, rn/none

#7034 pin jinja to 3.0.3
  setup.py
Labels: rn/none, area/pipelines

#7031 Add classification metrics
  mlflow/pipelines/utils/metrics.py
  tests/pipelines/helper_functions.py
Labels: rn/none, area/pipelines

#6949 Use default experiment for a Databricks repo notebook in Java MlflowContext
  mlflow/java/client/src/main/java/org/mlflow/tracking/MlflowContext.java
  mlflow/java/client/src/main/java/org/mlflow/tracking/utils/DatabricksContext.java
  mlflow/java/client/src/main/java/org/mlflow/tracking/utils/MlflowTagConstants.java
Labels: rn/none, language/java, area/tracking

#7036 Improve error message for invalid target column in split step
  mlflow/pipelines/steps/split.py
Labels: rn/none, area/pipelines

#7029 Run MLP example notebook and store it as artifact on CircleCI for preview
  .circleci/config.yml
Labels: rn/none, area/pipelines

#7011 Add `--build-image` flag to `mlflow run`
  docs/source/projects.rst
  mlflow/cli.py
  mlflow/projects/__init__.py
  mlflow/projects/backend/abstract_backend.py
  mlflow/projects/backend/local.py
  mlflow/projects/docker.py
  mlflow/projects/utils.py
  tests/projects/test_docker_projects.py
  tests/resources/mlflow-test-plugin/mlflow_test_plugin/dummy_backend.py
Labels: rn/feature, area/projects

#6897 changing nginx.conf to accomodate inferencing medium/large datasets
  mlflow/models/container/scoring_server/nginx.conf
Labels: rn/none, area/models, area/scoring

#7037 Improve error message for missing custom metric
  mlflow/pipelines/steps/evaluate.py
  mlflow/pipelines/steps/train.py
Labels: rn/none, area/pipelines

#6815 Do not copy __pycache__ files
  mlflow/utils/file_utils.py
Labels: rn/none, area/artifacts

#7013 Add update_run() Python API
  mlflow/tracking/_tracking_service/client.py
  mlflow/tracking/client.py
  tests/tracking/test_client.py
Labels: rn/feature, area/tracking

#7043 Fix for git tags
  mlflow/projects/utils.py
Labels: rn/bug-fix, area/projects

#7035 Lift max cols to 1000 in profiling
  mlflow/pipelines/utils/step.py
Labels: rn/none, area/pipelines

#7033 transform step data preview
  mlflow/pipelines/steps/transform.py
Labels: rn/none, area/pipelines

#7026 write params yaml even if no tuning
  mlflow/pipelines/steps/train.py
Labels: rn/none, area/pipelines

#7039 Revert "pin jinja to 3.0.3 (#7034)"
  setup.py
Labels: rn/none, area/build

#7038 Remove `set-output` and use `GITHUB_OUTPUT` when setting step outputs
  .github/actions/cache-pip/action.yml
  .github/actions/setup-python/action.yml
  .github/actions/update-requirements/action.yml
  .github/workflows/autoformat.yml
  .github/workflows/cross-version-tests.yml
  .github/workflows/examples.yml
  .github/workflows/r.yml
  .github/workflows/test-package-build.yml
  dev/set_matrix.py
Labels: rn/none, area/build

#7051 Support jinja 2.x in MLP Unix
  setup.py
Labels: rn/bug-fix, area/pipelines

#7055 Remove one word from name generation utils
  mlflow/utils/name_utils.py
Labels: rn/none, area/tracking

#7040 Make model_uri positional for sagemaker update_deployment
  mlflow/sagemaker/__init__.py
Labels: rn/none, integrations/sagemaker

#7054 Always profile target_col as the first column in split step
  mlflow/pipelines/steps/split.py
Labels: rn/none, area/pipelines

#7049 Add help strings for the Batch Scoring DAG
  mlflow/pipelines/regression/v1/dag_help_strings.py
  mlflow/pipelines/regression/v1/pipeline.py
  mlflow/pipelines/regression/v1/resources/pipeline_dag_template.html
Labels: rn/none, area/pipelines

#7065 update model_version_url syntax
  mlflow/utils/databricks_utils.py
  tests/pipelines/test_register_step.py
Labels: rn/none, area/pipelines

#6959 AutoML support for MLflow Pipelines using FLAML
  .gitignore
  mlflow/pipelines/steps/automl/__init__.py
  mlflow/pipelines/steps/automl/flaml.py
  mlflow/pipelines/steps/train.py
  requirements/test-requirements.txt
  tests/pipelines/test_train_step.py
Labels: rn/feature, area/pipelines

#7069 Fix run name handling of empty strings
  mlflow/server/handlers.py
  mlflow/store/tracking/file_store.py
  mlflow/store/tracking/sqlalchemy_store.py
  tests/store/tracking/test_file_store.py
  tests/store/tracking/test_sqlalchemy_store.py
Labels: rn/bug-fix, area/tracking

#7057 Only log new params in `SqlAlchemyStore._log_params`
  mlflow/store/tracking/sqlalchemy_store.py
  tests/store/tracking/test_sqlalchemy_store.py
Labels: rn/none, area/tracking

#7030 Move subgraph logic into base pipeline
  mlflow/pipelines/pipeline.py
  mlflow/pipelines/regression/v1/pipeline.py
  mlflow/pipelines/step.py
  mlflow/pipelines/steps/evaluate.py
  mlflow/pipelines/steps/ingest/__init__.py
  mlflow/pipelines/steps/predict.py
  mlflow/pipelines/steps/register.py
  mlflow/pipelines/steps/split.py
  mlflow/pipelines/steps/train.py
  mlflow/pipelines/steps/transform.py
  tests/pipelines/helper_functions.py
Labels: rn/none, area/pipelines

#7064 Fixes for batch scoring doc strings
  mlflow/pipelines/regression/v1/dag_help_strings.py
Labels: rn/none

#7066 fix: override image id tag when running kubernetes
  mlflow/projects/__init__.py
Labels: rn/bug-fix, area/projects

#7073 Upgrade actions/setup-python to V4
  .github/actions/setup-python/action.yml
  .github/workflows/autoformat.yml
  .github/workflows/cross-version-tests.yml
Labels: rn/none

#7080 Fix set_matrix action output
  dev/set_matrix.py
Labels: rn/none, area/build

#7081 Move reusable dag-related resources out of regression pipeline implementation
  mlflow/pipelines/dag_help_strings.py
  mlflow/pipelines/pipeline.py
  mlflow/pipelines/regression/v1/pipeline.py
  mlflow/pipelines/resources/pipeline_dag_template.html
Labels: rn/none, area/pipelines

#7056 Adding custom column to add types
  mlflow/pipelines/cards/pandas_renderer.py
  tests/pipelines/cards/test_pandas_renderer.py
Labels: rn/none, area/pipelines

#7071 Improve `Related Issues/PRs` section in PR template
  .github/pull_request_template.md
Labels: rn/none

#7087 Fixing resource paths for pipeline template
  setup.py
Labels: rn/none, area/pipelines

#7091 Adjust positive value label reordering
  mlflow/models/evaluation/default_evaluator.py
Labels: rn/none, area/models

#7044 Add AWSSigv4 to request
  mlflow/environment_variables.py
  mlflow/tracking/_model_registry/utils.py
  mlflow/tracking/_tracking_service/utils.py
  mlflow/utils/rest_utils.py
  setup.py
  tests/utils/test_rest_utils.py
Labels: rn/feature, area/tracking

#7092 Augment predict step to read register step model version output
  mlflow/pipelines/dag_help_strings.py
  mlflow/pipelines/steps/predict.py
  mlflow/pipelines/steps/register.py
  tests/pipelines/helper_functions.py
  tests/pipelines/test_predict_step.py
  tests/pipelines/test_register_step.py
Labels: rn/none, area/pipelines

#7098 Reset `_active_experiment_id` in test teardown
  tests/conftest.py
Labels: rn/none

#7094 write default params to yaml
  mlflow/pipelines/steps/train.py
  tests/pipelines/test_pipeline.py
  tests/pipelines/test_train_step.py
Labels: rn/none, area/pipelines

#7061 Replace deprecated sqlalchemy features that will be removed in sqlalchemy 2.0
  .github/workflows/master.yml
  mlflow/store/db/base_sql_model.py
  mlflow/store/db/utils.py
  mlflow/store/db_migrations/env.py
  mlflow/store/db_migrations/versions/90e64c465722_migrate_user_column_to_tags.py
  mlflow/store/tracking/dbmodels/initial_models.py
  mlflow/store/tracking/dbmodels/models.py
  mlflow/store/tracking/sqlalchemy_store.py
  pytest.ini
  tests/db/README.md
  tests/db/test_schema.py
  tests/resources/db/initial_models.py
  tests/store/dump_schema.py
  tests/store/tracking/test_sqlalchemy_store.py
Labels: rn/none, area/sqlalchemy

#7100 Reset _active_experiment_id in test teardown (#7098)
  tests/conftest.py
Labels: rn/none

#7047 Adding validation for ingest and split step
  mlflow/pipelines/steps/ingest/datasets.py
  mlflow/pipelines/steps/split.py
  tests/pipelines/test_ingest_step.py
  tests/pipelines/test_split_step.py
Labels: rn/none, area/pipelines

#7067 Throw exception if not all required step files are present
  mlflow/pipelines/utils/execution.py
  tests/pipelines/test_execution_utils.py
Labels: rn/none, area/pipelines

#7077 mlflow.evaluate(): allow arbitrary positive labels
  mlflow/models/evaluation/default_evaluator.py
  tests/models/test_default_evaluator.py
Labels: rn/bug-fix, area/models

#7095 Add type checks to validation_thresholds parameter
  mlflow/models/evaluation/base.py
  tests/models/test_validation.py
Labels: rn/none, area/models

#7093 Improve model validation docs
  docs/source/models.rst
  mlflow/models/evaluation/base.py
Labels: rn/none, area/models

#7101 Upgrade `actions/github-script` to v6
  .github/workflows/autoformat.js
  .github/workflows/autoformat.yml
  .github/workflows/closing-pr.js
  .github/workflows/closing-pr.yml
  .github/workflows/cross-version-tests.yml
  .github/workflows/notify-dco-failure.js
  .github/workflows/notify-dco-failure.yml
  .github/workflows/release-note-category.js
  .github/workflows/release-note-category.yml
  .github/workflows/test-package-build.yml
Labels: rn/none

#7099 Remove useless sqlalchemy requirement in `test-requirements.txt`
  requirements/test-requirements.txt
Labels: rn/none

#7070 Convert FileStore experiment_id to randomly generated fixed-length int64
  mlflow/R/mlflow/tests/testthat/test-tracking-experiments.R
  mlflow/store/tracking/file_store.py
  mlflow/utils/name_utils.py
  mlflow/utils/search_utils.py
  mlflow/utils/time_utils.py
  tests/store/tracking/test_file_store.py
  tests/tracking/test_rest_tracking.py
  tests/utils/test_name_utils.py
  tests/utils/test_utils.py
Labels: rn/breaking-change, area/server-infra

#7041 Fix `Does this PR change the documentation?` section in PR template
  .github/pull_request_template.md
Labels: rn/none

#7103 Skip scheduled jobs on forks
  .github/workflows/cross-version-tests.yml
  .github/workflows/dev-setup.yml
  .github/workflows/examples.yml
  .github/workflows/r.yml
  .github/workflows/requirements.yml
  .github/workflows/stale.yml
Labels: rn/none, area/build

#7072 Fix `mlflow can serve a model function test` test in R
  mlflow/R/mlflow/tests/testthat/test-serve.R
Labels: rn/none

#7102 Print command to run failed tests
  conftest.py
Labels: rn/none

#7117 Replace `get_account_id` with `DEFAULT_ACCOUNT_ID`
  requirements/test-requirements.txt
  tests/sagemaker/mock/__init__.py
  tests/sagemaker/test_batch_deployment.py
  tests/sagemaker/test_deployment.py
  tests/sagemaker/test_sagemaker_deployment_client.py
Labels: rn/none

#7118 Upgrade `actions/cache` to v3
  .github/actions/cache-pip/action.yml
Labels: rn/none

#7114 ensure train, val, test df greater than 4 rows
  mlflow/pipelines/steps/split.py
  tests/pipelines/test_execution_utils.py
Labels: rn/none, area/pipelines

#7042 Remove `dataset_name` and `on_data_{hash | name}` suffix from `mlflow.evaluate`
  docs/source/models.rst
  examples/evaluation/evaluate_on_binary_classifier.py
  examples/evaluation/evaluate_on_multiclass_classifier.py
  examples/evaluation/evaluate_on_regressor.py
  examples/evaluation/evaluate_with_custom_metrics.py
  examples/evaluation/evaluate_with_custom_metrics_comprehensive.py
  examples/evaluation/evaluate_with_model_validation.py
  mlflow/models/evaluation/base.py
  mlflow/models/evaluation/default_evaluator.py
  mlflow/pipelines/steps/evaluate.py
  mlflow/pipelines/steps/train.py
  tests/models/test_default_evaluator.py
  tests/models/test_evaluation.py
  tests/models/test_validation.py
  tests/pipelines/test_evaluate_step.py
  tests/pipelines/test_pipeline.py
  tests/resources/mlflow-test-plugin/mlflow_test_plugin/dummy_evaluator.py
Labels: rn/breaking-change

#7086 Add tests for MLP Batch Scoring DAG
  .github/workflows/pipeline.yml
  mlflow/utils/virtualenv.py
  tests/pipelines/regression/v1/test_regression_pipeline_batch_scoring.py
  tests/pipelines/test_pipeline.py
Labels: rn/none, area/pipelines

#7130 Avoid latest ruamel.yaml.clib for dev requirements
  dev/requirements.txt
Labels: rn/none, area/build

#7127 update version to 2.0.0 dev
  mlflow/R/mlflow/DESCRIPTION
  mlflow/java/client/pom.xml
  mlflow/java/pom.xml
  mlflow/java/scoring/pom.xml
  mlflow/java/scoring/src/main/java/org/mlflow/sagemaker/ScoringServer.java
  mlflow/java/scoring/src/test/java/org/mlflow/ScoringServerTest.java
  mlflow/java/spark/pom.xml
  mlflow/server/js/src/common/constants.js
  mlflow/version.py
Labels: rn/none, area/build

#7052 Remove unnecessary core requirements from 2.0
  .circleci/config.yml
  requirements/core-requirements.txt
  requirements/core-requirements.yaml
  requirements/test-requirements.txt
Labels: rn/none, area/build

#7124 Handle read-only model mounts during virtualenv creation
  mlflow/utils/virtualenv.py
  tests/projects/test_virtualenv_projects.py
  tests/pyfunc/test_virtualenv.py
  tests/resources/example_virtualenv_conda_project/conda.yaml
  tests/resources/example_virtualenv_project/requirements.txt
Labels: rn/bug-fix, area/models

#7136 Remove reserved keyword
  mlflow/protos/service.proto
Labels: rn/none, area/build

#7028 Refactor mlflow gc command
  mlflow/cli.py
Labels: rn/none, area/tracking

#7128 Run SQLAlchemy store tests with sqlalchemy 2.0.0b2
  .github/workflows/master.yml
Labels: rn/none

#7016 Remove mode argument from sagemaker `create_deployment`
  mlflow/sagemaker/__init__.py
Labels: rn/none

#7141 Fix environment_variables.py: missing semicolon
  mlflow/environment_variables.py
Labels: rn/none

#7137 Bump Java scoring server version # upon release
  dev/update_mlflow_versions.py
Labels: rn/none, area/build

#7145 Rename sum_on_label, mean_on_label and related custom metrics
  docs/source/models.rst
  examples/evaluation/evaluate_with_custom_metrics.py
  examples/evaluation/evaluate_with_custom_metrics_comprehensive.py
  mlflow/models/evaluation/base.py
  mlflow/models/evaluation/default_evaluator.py
  tests/models/test_default_evaluator.py
Labels: area/docs, rn/breaking-change

#7138 Do not append `mlflow.runName` tag if it's already in tags
  mlflow/store/tracking/file_store.py
  mlflow/store/tracking/sqlalchemy_store.py
  tests/store/tracking/test_file_store.py
  tests/store/tracking/test_sqlalchemy_store.py
Labels: rn/bug-fix

#7149 Set positive label default to None for mlflow.evaluate() and infer pos label
  mlflow/models/evaluation/base.py
  mlflow/models/evaluation/default_evaluator.py
  tests/models/test_default_evaluator.py
Labels: rn/feature, area/models

#7068 Added parameter for model_format in models/xgboost
  mlflow/xgboost/__init__.py
  tests/xgboost/test_xgboost_model_export.py
Labels: rn/bug-fix, area/models

#7150 Make `mlflow ui` an alias for `mlflow server`
  mlflow/cli.py
  tests/test_cli.py
Labels: rn/none

#7154 fix: fixed profile cards rendering with URL polyfill
  mlflow/pipelines/cards/pandas_renderer.py
Labels: rn/bug-fix, area/uiux, area/pipelines

#7147 move warning logging to step card tab
  mlflow/pipelines/cards/__init__.py
  mlflow/pipelines/step.py
  mlflow/pipelines/steps/evaluate.py
  mlflow/pipelines/steps/train.py
Labels: rn/none, area/pipelines

#7107 Adding validation for transform step
  mlflow/pipelines/steps/transform.py
  tests/pipelines/test_transform_step.py
Labels: rn/none, area/pipelines

#7082 Implement classification pipeline
  docs/source/python_api/mlflow.pipelines.rst
  mlflow/pipelines/classification/__init__.py
  mlflow/pipelines/classification/v1/__init__.py
  mlflow/pipelines/classification/v1/pipeline.py
  mlflow/pipelines/pipeline.py
  mlflow/pipelines/steps/evaluate.py
  mlflow/pipelines/steps/ingest/__init__.py
  mlflow/pipelines/steps/train.py
  mlflow/pipelines/utils/execution.py
  mlflow/pipelines/utils/metrics.py
  tests/pipelines/test_execution_utils.py
  tests/pipelines/test_ingest_step.py
  tests/pipelines/test_pipeline.py
Labels: rn/feature, area/pipelines

#6955 Implements getModelVersion in the java client
  mlflow/java/client/src/main/java/org/mlflow/tracking/MlflowClient.java
  mlflow/java/client/src/main/java/org/mlflow/tracking/MlflowProtobufMapper.java
  mlflow/java/client/src/test/java/org/mlflow/tracking/ModelRegistryMlflowClientTest.java
Labels: rn/feature, language/java, area/model-registry

#7168 Set timeout-minutes in cross-version tests
  .github/workflows/cross-version-tests.yml
Labels: rn/none

#7164 Log roc_auc in multiclass classification
  mlflow/models/evaluation/default_evaluator.py
  tests/models/test_default_evaluator.py
Labels: rn/none

#7151 Update ubuntu version in Dockerfile to 20.04
  mlflow/models/docker_utils.py
Labels: rn/none

#7123 Add 'save_format' param to Keras autolog()
  mlflow/keras.py
  tests/keras/test_keras_autolog.py
Labels: rn/feature, area/tracking

#7059 Updated MLP User Guide
  docs/source/_static/images/pipelines_databricks_dag.png
  docs/source/_static/images/pipelines_databricks_fixme.png
  docs/source/_static/images/pipelines_databricks_logged_artifacts.png
  docs/source/_static/images/pipelines_databricks_ui.png
  docs/source/pipelines.rst
Labels: area/docs, rn/none

#7175 Adding predicted_training_data to the DAG
  mlflow/pipelines/dag_help_strings.py
  mlflow/pipelines/pipeline.py
  mlflow/pipelines/resources/pipeline_dag_template.html
  mlflow/pipelines/steps/train.py
  tests/pipelines/test_train_step.py
Labels: rn/none, area/pipelines

#7158 add classifier plots to evaluate step card
  mlflow/pipelines/steps/evaluate.py
  tests/pipelines/helper_functions.py
  tests/pipelines/test_evaluate_step.py
Labels: rn/none, area/pipelines

#7176 Fix MLflow 2.0 compatibility with 1.x models
  mlflow/utils/virtualenv.py
  tests/pyfunc/test_virtualenv.py
  tests/resources/example_mlflow_1x_sklearn_model/MLmodel
  tests/resources/example_mlflow_1x_sklearn_model/conda.yaml
  tests/resources/example_mlflow_1x_sklearn_model/model.pkl
  tests/resources/example_mlflow_1x_sklearn_model/python_env.yaml
  tests/resources/example_mlflow_1x_sklearn_model/requirements.txt
Labels: rn/none, area/models

#7179 fix classifier plot path
  mlflow/pipelines/steps/evaluate.py
Labels: rn/none, area/pipelines

#7134 Execution status addition
  mlflow/pipelines/pipeline.py
  mlflow/pipelines/step.py
  tests/pipelines/test_execution_utils.py
Labels: rn/none, area/pipelines

#7165 Add `mlflow.doctor`
  mlflow/__init__.py
  mlflow/doctor.py
  tests/test_doctor.py
Labels: rn/none

#6988 environment variables support for timeout
  mlflow/environment_variables.py
  mlflow/pyfunc/__init__.py
  mlflow/pyfunc/backend.py
  mlflow/pyfunc/mlserver.py
  mlflow/pyfunc/scoring_server/__init__.py
  mlflow/rfunc/backend.py
  mlflow/utils/cli_args.py
  tests/pyfunc/test_mlserver.py
Labels: rn/none, area/scoring

#6790 [Proto] Remove experiment, run, and model listing APIs in favor of search
  mlflow/experiments.py
  mlflow/java/client/src/main/java/org/mlflow/api/proto/ModelRegistry.java
  mlflow/java/client/src/main/java/org/mlflow/api/proto/Service.java
  mlflow/protos/model_registry.proto
  mlflow/protos/model_registry_pb2.py
  mlflow/protos/service.proto
  mlflow/protos/service_pb2.py
  mlflow/server/handlers.py
  mlflow/store/model_registry/abstract_store.py
  mlflow/store/model_registry/rest_store.py
  mlflow/store/model_registry/sqlalchemy_store.py
  mlflow/tracking/_model_registry/client.py
  mlflow/tracking/client.py
  tests/pipelines/test_register_step.py
  tests/server/test_handlers.py
  tests/store/model_registry/test_rest_store.py
  tests/store/model_registry/test_sqlalchemy_store.py
  tests/tracking/_model_registry/test_model_registry_client.py
  tests/tracking/test_model_registry.py
Labels: rn/breaking-change, area/model-registry, area/tracking

#7131 Fix tie-breaker for `FileStore.search_experiments`
  mlflow/utils/search_utils.py
Labels: rn/none

#7183 Allow saving keras model in HDF5 format in TF autologging
  mlflow/tensorflow/__init__.py
  tests/tensorflow/test_tensorflow2_autolog.py
Labels: rn/none

#7170 Validate `path` parameter is safe
  mlflow/server/handlers.py
  tests/tracking/test_rest_tracking.py
Labels: rn/none

#7187 Updating documentation according to the new pipeline spec
  docs/source/pipelines.rst
Labels: rn/breaking-change, area/pipelines

#7182 Remove redundant `activity_polling_timeout_seconds`
  tests/spark/test_spark_model_export.py
Labels: rn/none

#7161 Update minimum python to 3.8
  .circleci/config.yml
  .github/actions/setup-python/action.yml
  .github/workflows/cross-version-tests.yml
  .github/workflows/r.yml
  .github/workflows/requirements.yml
  CONTRIBUTING.md
  Dockerfile
  dev/Dockerfile.test
  dev/get_minimum_required_python.py
  docs/source/models.rst
  docs/source/projects.rst
  docs/source/tutorials-and-examples/tutorial.rst
  examples/docker/Dockerfile
  examples/fastai/python_env.yaml
  examples/flower_classifier/python_env.yaml
  examples/h2o/python_env.yaml
  examples/hyperparam/python_env.yaml
  examples/lightgbm/lightgbm_native/python_env.yaml
  examples/lightgbm/lightgbm_sklearn/python_env.yaml
  examples/mlflow_artifacts/Dockerfile
  examples/mlflow_artifacts/Dockerfile.dev
  examples/multistep_workflow/python_env.yaml
  examples/paddle/python_env.yaml
  examples/pytorch/python_env.yaml
  examples/rapids/mlflow_project/envs/conda.yaml
  examples/rapids/mlflow_project/notebooks/conda.yaml
  examples/sklearn_elasticnet_diabetes/linux/python_env.yaml
  examples/sklearn_elasticnet_diabetes/osx/python_env.yaml
  examples/sklearn_elasticnet_wine/conda.yaml
  examples/sklearn_elasticnet_wine/python_env.yaml
  examples/sklearn_logistic_regression/python_env.yaml
  examples/spacy/python_env.yaml
  examples/statsmodels/python_env.yaml
  examples/xgboost/xgboost_native/python_env.yaml
  mlflow/__init__.py
  mlflow/pyfunc/__init__.py
  mlflow/pytorch/__init__.py
  mlflow/spark.py
  mlflow/tracking/_tracking_service/utils.py
  mlflow/utils/docstring_utils.py
  pylintrc
  setup.py
  tests/db/Dockerfile
  tests/db/Dockerfile.mssql
  tests/models/test_default_evaluator.py
  tests/models/test_evaluation.py
  tests/pipelines/test_split_step.py
  tests/projects/test_docker_projects.py
  tests/projects/test_project_spec.py
  tests/pyfunc/test_virtualenv.py
  tests/resources/example_docker_project/Dockerfile
  tests/resources/example_project/conda.yaml
  tests/shap/test_log.py
  tests/test_cli.py
  tests/utils/test_environment.py
  tests/utils/test_python_env.py
Labels: rn/breaking-change, area/build, only-latest

#7142 Implement `EvaluationMetric` and `custom_artifacts` for `mlflow.evaluate`
  .circleci/config.yml
  .github/workflows/pipeline.yml
  dev/custom_metrics_patch.py
  docs/source/models.rst
  examples/evaluation/evaluate_with_custom_metrics.py
  examples/evaluation/evaluate_with_custom_metrics_comprehensive.py
  examples/evaluation/evaluate_with_model_validation.py
  mlflow/models/__init__.py
  mlflow/models/evaluation/__init__.py
  mlflow/models/evaluation/base.py
  mlflow/models/evaluation/default_evaluator.py
  mlflow/pipelines/steps/automl/flaml.py
  mlflow/pipelines/steps/evaluate.py
  mlflow/pipelines/steps/train.py
  mlflow/pipelines/utils/metrics.py
  tests/models/test_artifacts.py
  tests/models/test_default_evaluator.py
  tests/models/test_evaluation.py
  tests/pipelines/test_evaluate_step.py
  tests/pipelines/test_register_step.py
  tests/pipelines/test_train_step.py
Labels: rn/feature

#7184 Improve `How is this patch tested?` section
  .github/pull_request_template.md
Labels: rn/none

#7190 Remove install_mlflow from MLflow R docs
  docs/source/quickstart.rst
  docs/source/tutorials-and-examples/tutorial.rst
Labels: area/docs, rn/none

#7188 Fix cross version tests py3.8 compatibility
  dev/set_matrix.py
  mlflow/ml-package-versions.yml
  tests/mleap/test_mleap_model_export.py
Labels: rn/none, area/build, enable-dev-tests

#7193 Fix SageMaker deployment client predict API and add tests
  mlflow/sagemaker/__init__.py
  tests/sagemaker/test_sagemaker_deployment_client.py
Labels: rn/bug-fix, area/scoring

#7189 Pass `pip_requirements` and `extra_pip_requirements` in `_save_model_metadata`
  mlflow/spark.py
Labels: rn/none
